nav{
    margin: 0;
    background-color: purple;
    color: orange;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  
  nav img {
      height: 100%;
  }