.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  /* body */

body {
  padding: 15px;
  background-color:white;
  font: Belleza;
}

/* footer */
footer {
  background-color: #53565A; 
  color: white;
  margin-top: 10px;
}

footer p{
  margin-top: 0.8em !important;
  margin-left: 1.5em;
}
/* main */
.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%;
}

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}

.sidebar {
  display: flex;
  background-color: #53565A; 
  margin-top: 10px;
}

ul {
  list-style-type: 'none';
}
/* Sidebar */
.sidebar-list-styling{
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  background-color: #53565A;
  color: white;
}

.sidebar-list a{
  color: white;
  padding: 0;
}

.sidebar-route{ 
  flex: 1;
  padding: '00px'; 
}

/* header */
.header {
  margin-top: 0.5em!important;
  text-align: center;
  background-color: #53565A; 
  color: white;
}

.header a {
  color: white;
}

.header  p {
  margin-top: 0.8em!important;
}

.compiler-header {
  display: block;
  height: 5vh;
  overflow: auto;
  background-color: yellow;
  color: red;
  font-size: 28px
}

.compiler-container {
  height: 95vh;
  display:flex;
}

pre {
  background-color: #f8f8f8;
}

pre, textarea {
  height: 95vh;
  width: 50%;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  color: #222;
}

textarea:focus {outline: 0;}


